<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>{{name}} 的心愿单</title>
</head>
<body>
<img src="{{ url_for('static', filename='images/foo.jpg') }}">
<h2>{{name}} 的心愿单</h2>
<p>{{movies|length}} 个条目</p>
<ul>
    {% for movie in movies %}
    <li>{{movie.title}} - {{movie.year}}</li>
    {% endfor %}
</ul>
</body>
</html>